body {
    background-color: #181f38;
    color: white;
    font-family: sans-serif;
}

section {
    margin-bottom: 40px;
}

main {
    margin: 60px;
}

h1 {
    font-weight: 200;
}

h2 {
    font-weight: 200;
}

hr {
    border-color: #939393;
}

figure {
    background-color: #242b42;
    padding: 20px
}

.height-300 {
    height: 300px
}

/* GRID */

.columns-container {
    display: flex;
}

.one-half-column {
    width: 50%;
}

.one-third-column {
    width: 33.33%;
}

.two-thirds-column {
    width: 66.66%;
}

.one-full-column {
    width: 100%;
}